extends layout

block content
  include nav.pug
  .progress(style='visibility : hidden')
    #progress.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')

  .container.page-top
    #row.row
      each file in files
        .col-lg-3.col-md-4.col-xs-6.thumb
          if file.thumbnailLink != null
            img.zoom.img-fluid(src=file.thumbnailLink, alt='')
          else
            img.zoom.img-fluid(src=file.iconLink, alt='')
          .title
            .titleName(data-toggle='tooltip',title=file.name)=file.name
            .titleTime=file.createdTime 
            .btn.btn-danger.titleBtn(onclick='Download("'+ file.id +'","'+ file.name +'","'+ file.size +'")') Download  
        
    #nextPage.btn.btn-info(onclick='nextPage("'+nextPageToken+'","'+ keyword+'")') More
        //- a(target='_blank',href="/download/" +file.id + encodeURIComponent('?name=' + file.name + '&extension=' + file.fullFileExtension)) Download
        //- a(target='_blank',href="/download/" +file.id + '?name=' + file.name + '&extension=' + file.fullFileExtension) Download
        //- button(onclick='Download("'+ file.webContentLink +'")') Download
        //- button(onclick='Download("'+ file.id +'","'+ file.name +'","'+ file.size +'")') Download
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/socketcustom.js')
   


