doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.1/css/all.css')
    link(rel='stylesheet', href='./stylesheets/dropzone.css')
    link(rel='stylesheet', href='./stylesheets/style.css')

    link(rel='icon', href='./favicon.ico')
    title=title
  body
    block content
      
    //- form.dropzone(method='post', action='/upload', enctype='multipart/form-data')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js')
    script(src='./javascripts/dropzone.js')
    script(src='/socket.io/socket.io.js')
