nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') MK UPLOAD
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      //- li.nav-item.active
      li.nav-item
        a.nav-link(href='/')
          | Home 
          //- span.sr-only (current)
      li.nav-item
        a.nav-link(href='/upload') Upload
    form.form-inline.my-2.my-lg-0(method='GET', action='/find')
      input.form-control.mr-sm-2(type='search', name='q', placeholder='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
